<div>

  <div class="logo-section">
    <a [routerLink]='["/"]'>
      <img src="https://birderweb.com/logo-and-slogan.png" alt="Birder">
    </a>


    <nav mat-tab-nav-bar mat-stretch-tabs class="stretched-tabs">
      <a mat-tab-link [active]="true">About</a>
      <a mat-tab-link routerLink="/about/contact">Contact</a>
      <a mat-tab-link routerLink="/about/developer">Developer</a>
      <a mat-tab-link routerLink="/about/technology">Technology</a>
      <a mat-tab-link routerLink="/about/future">Future</a>
    </nav>

  </div>

  <div>
    <app-features [showBlurb]="true"></app-features>
  </div>

</div>