<div>

  <section class="logo-section">
    <a [routerLink]='["/"]'>
      <img src="assets/images/logoWithSlogan.png" alt="Birder">
    </a>

    <ul ngbNav #nav="ngbNav" [activeId]="1" class="nav-tabs nav-justified">
      <li [ngbNavItem]="1">
        <a ngbNavLink routerLink="/about/about">About</a>
      </li>
      <li [ngbNavItem]="2">
        <a ngbNavLink routerLink="/about/contact">Contact</a>
      </li>
      <li [ngbNavItem]="3">
        <a ngbNavLink routerLink="/about/developer">Developer</a>
      </li>
      <li [ngbNavItem]="4">
        <a ngbNavLink routerLink="/about/technology">Technology</a>
      </li>
      <li [ngbNavItem]="5">
        <a ngbNavLink routerLink="/about/future">Future</a>
      </li>
    </ul>

  </section>

  <app-features [showBlurb]="true"></app-features>

</div>