app-tweet-day-archive {
    .no-more-items {
        margin-top: 5%;
    }

    @media only screen and (max-width: 768px) {
        .archive-container {
            margin: 3% 3%; //(top, bottom) / (right, left)
        }
    }

    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 768px) {
        .archive-container {
            margin: 3% 3%; //(top, bottom) / (right, left)
        }
    }

    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 992px) {
        .archive-container {
            margin: 3% 1%; //(top, bottom) / (right, left)
        }
    }

    /* Extra large devices (large laptops and desktops, 1200px and up) */
    // @media only screen and (min-width: 1200px) { }
}
