<div class="archive-container">

    <h1>Tweet of the Day archive</h1>

    <ng-container *ngIf="!(_service.isError | async); else errorTemplate">

        <table class="table table-striped" data-testid="tweet-table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Date</th>
                    <th scope="col">Species</th>
                    <!-- <th class="hide-small" scope="col">Status / Population</th> -->
                    <th scope="col">Recording</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let record of (_service.getTweets | async); index as i">
                    <!-- *ngFor="let record of tweets.items; index as i"> -->
                    <th scope="row">{{ i + 1 }}</th>
                    <td>{{ record.displayDay | date: 'dd/MM/yyyy' }}</td>
                    <td><a routerLink="/bird-detail/{{record.bird.birdId}}">{{ record.bird.englishName }}</a>
                        <br><small><em>{{ record.bird.species }}</em></small>
                    </td>
                    <!-- <td class="hide-small"><small>{{ record.bird.btoStatusInBritain }} <br> {{
                            record.bird.populationSize
                            }}</small></td> -->
                    <td><audio class="player" controls>
                            <source src="{{record.songUrl}}" type="audio/mpeg">
                            Your browser does not support the audio element.
                        </audio>
                    </td>
                </tr>
            </tbody>
        </table>

        <p *ngIf="(_service.allLoaded | async)" class="alert alert-info no-more-items" data-testid="all-loaded">
            <strong>No more Tweets</strong>&nbsp;You have reached the end of the archive...
        </p>

        <p *ngIf="_service.isLoading | async">
            <app-loading></app-loading>
        </p>

        <button *ngIf="!(_service.allLoaded | async)" type="button" class="btn btn-primary btn-lg btn-block"
            (click)="getMoreTweets()">Load more Tweets</button>

    </ng-container>

    <ng-template #errorTemplate>
        <div class="alert alert-danger" data-testid="error-content">
            <strong>Whoops!</strong>&nbsp;There was an error retrieving the data.<br>
            <button type="button" class="btn btn-primary btn-sm" data-testid="reload-button" (click)="reload()">Try
                Again</button>
        </div>
    </ng-template>

</div>