<div class="standard-container-full-width">
    <h1>Request Password Reset</h1>

    <p>Fill out this form to request a password reset.</p>

    @if (submitProgress() !== 'success') {
    <form [formGroup]="form" (ngSubmit)="onSubmit()" data-testid="requestPasswordResetForm">

        <p>
            <mat-form-field class="full-width" id="email">
                <mat-label>Email</mat-label>
                <input matInput id="email" name="email" type="email" formControlName="email" placeholder="email"
                    autocomplete="off">
                @if (form.get('email')?.hasError('required')) {
                <mat-error class="validation-required-email">
                    Email is <strong>required</strong>
                </mat-error>
                }
                @if (form.get('email')?.hasError('email')) {
                <mat-error class="validation-email-email">
                    Email is <strong>not valid</strong>
                </mat-error>
                }
            </mat-form-field>
        </p>


        <section class="buttons">
            @if (requesting()) {
            <button mat-stroked-button type="button" disabled>
                Submitting...
                <mat-icon><mat-spinner diameter="15">
                    </mat-spinner></mat-icon>
            </button>
            } @else {
            <button mat-stroked-button type="submit" class="btn btn-primar" [disabled]="!form.valid"
                data-testid="submit">
                Submit
            </button>
            }
        </section>

    </form>
    }
    @if (submitProgress() === 'success') {
    <p class="alert alert-success" data-testid="success">
        <strong>Success!</strong> We've sent you an email. Check your inbox and follow the instructions to reset your
        password.
    </p>
    }
    @if (submitProgress() === 'error') {
    <p class="alert alert-danger" data-testid="error">
        <strong>Whoops!</strong> An error occurred. Please try again.<br>
    </p>
    }

    <!-- IF YOU@VE GOT AN ACCOUNT WITH US WE HAVE SENT YOU AN EMAIL  -->
</div>