<div class="forgot-password-container">
    <h1>Request Password Reset</h1>

    <p>Fill out this form to request a password reset.</p>

    <div [hidden]="submitted">
        <form [formGroup]="requestPasswordResetForm" novalidate (ngSubmit)="onSubmit(requestPasswordResetForm.value)">

            <div class="form-group">
                <input class="form-control" type="email" placeholder="Email" formControlName="email" required>
                <div *ngFor="let validation of request_password_reset_validation_messages.email">
                    <small class="text-danger"
                        *ngIf="requestPasswordResetForm.get('email')?.hasError(validation.type) && (requestPasswordResetForm.get('email')?.dirty || requestPasswordResetForm.get('email')?.touched)">
                        {{validation.message}}</small>
                </div>
            </div>

            <button *ngIf="!requesting" type="submit" class="btn btn-primary btn-sm"
                [disabled]="!requestPasswordResetForm.valid">
                Submit
            </button>
            <button *ngIf="requesting" class="btn btn-primary btn-sm" type="submit" disabled>
                Generating email...
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            </button>
        </form>
    </div>

    <div [hidden]="!errorObject" class="alert alert-danger">
        An error occurred. Please try again
    </div>

    <div [hidden]="!submitted" class="alert alert-success">
        <strong>Success!</strong>  We've sent you an email.  Check your inbox and follow the instructions to reset your password.
    </div>

</div>
