app-forgot-password {



    .ng-valid[required],
    .ng-valid.required {
        border-left: 5px solid #42a948; /* green */
    }

    .ng-invalid:not(form):not(.password-group) {
        border-left: 5px solid #a94442; /* red */
    }

    .form-group,
    .form-check {
        margin-bottom: 3%;
    }


    @media only screen and (max-width: 768px) {
        .forgot-password-container {
            margin: 5% 5%; //(top, bottom) / (right, left)
        }
    }

    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 768px) {
        .forgot-password-container {
            margin: 5% 15%; //(top, bottom) / (right, left)
        }
    }

    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 992px) {
        .forgot-password-container {
            margin: 5% 30%; //(top, bottom) / (right, left)
        }
    }

    /* Extra large devices (large laptops and desktops, 1200px and up) */
     @media only screen and (min-width: 1200px) { }


}