<div class="forgot-password-container">
    <h1>Request Password Reset</h1>

    <p>Fill out this form to request a password reset.</p>

    <div *ngIf="submitProgress !== 'success'">
        <form [formGroup]="requestPasswordResetForm" (ngSubmit)="onSubmit(requestPasswordResetForm.value)" data-testid="requestPasswordResetForm">

            <div class="form-group">
                <input class="form-control" type="email" id="email" placeholder="Email" data-testid="email" formControlName="email" required>
                <div *ngFor="let validation of request_password_reset_validation_messages.email">
                    <small class="text-danger" data-testid="email-error"
                        *ngIf="requestPasswordResetForm.get('email')?.hasError(validation.type) && (requestPasswordResetForm.get('email')?.dirty || requestPasswordResetForm.get('email')?.touched)">
                        {{validation.message}}</small>
                </div>
            </div>

            <button *ngIf="!requesting" type="submit" class="btn btn-primary btn-sm"
                [disabled]="!requestPasswordResetForm.valid" data-testid="submit">
                Submit
            </button>
            <button *ngIf="requesting" class="btn btn-primary btn-sm" type="button" disabled>
                Generating email...
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            </button>

        </form>
    </div>

    <div *ngIf="submitProgress === 'error'" class="alert alert-danger" data-testid="error">
        An error occurred. Please try again
    </div>

    <div *ngIf="submitProgress === 'success'" class="alert alert-success" data-testid="success">
        <strong>Success!</strong> We've sent you an email. Check your inbox and follow the instructions to reset your
        password.
    </div>

    <!-- IF YOU@VE GOT AN ACCOUNT WITH US WE HAVE SENT YOU AN EMAIL  -->

</div>