<div class="wrapper">

  <section class="centre">

    <h1 data-testid="main-title">About</h1>

    <p>You can read more about me, and how to contact me, on my <a href="https://www.andrewstuartcross.co.uk/"
        target="_blank">personal website</a>.</p>

  </section>

  <section class="wrapper">

    <h2 class="centre">About this website</h2>

    <p>This website is comprised of separate client and server applications hosted on the <a
        href='https://azure.microsoft.com/en-gb/overview/'>Azure</a> cloud platform. The projects are open-source and
      are available in the the GitHub repositories, below. Contributions are welcome.
    </p>

    <h3>Client</h3>
    <ul>
      <li>
        Angular 18 application which is available in the <a href="https://github.com/second-slip/birder-client"
          target="_blank">birder-client</a> GitHub
        repository.
      </li>
    </ul>

    <h3>Server</h3>

    <ul>
      <li>
        ASP.NET 8 REST API which is available in the <a href="https://github.com/second-slip/birder-server"
          target="_blank">birder-server</a> GitHub
        repository.
      </li>
    </ul>

  </section>

</div>