<div class="standard-container">
    <h1>Update your default location</h1>
    <p>Set your default location with this form.</p>

    <!-- @if (_authService.getAuthUser | async; as authUser) {
        <app-read-write-map [latitude]="authUser.defaultLocationLatitude"
            [longitude]="authUser.defaultLocationLongitude">
        </app-read-write-map>
        } -->

    <ng-container *ngIf="(_authService.getAuthUser | async) as authUser">
        <app-read-write-map [latitude]="authUser.defaultLocationLatitude"
            [longitude]="authUser.defaultLocationLongitude">
        </app-read-write-map>
    </ng-container>

    <p class="alert alert-info">
        <strong>Information</strong>&nbsp;If you change your default location you will need to login again.
    </p>

    <div *ngIf="submitProgress === 'success'" class="alert alert-success" data-testid="success">
        <strong>Success!</strong> You have updated your default location
        <div>
            <a type="button" class="btn btn-primary" [routerLink]='["/login"]'>Login</a>
        </div>
    </div>

    <div *ngIf="submitProgress === 'error'" class="alert alert-danger" data-testid="error">
        <strong>Whoops!</strong> An error occurred. Please try again.<br>
    </div>

    <button *ngIf="!requesting" type="button" class="btn btn-primary save" (click)="updateLocation()" data-testid="save">Save</button>
    <button *ngIf="requesting" class="btn btn-primary" type="button" disabled>
        Saving...
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    </button>

</div>