<div class="standard-container-full-width">

    <h1>Update your default location</h1>
    
    <p>Use this form to set your default location.</p>

    @if (_authService.getAuthUser | async; as authUser) {
    <app-read-write-map [latitude]="authUser.defaultLocationLatitude" [longitude]="authUser.defaultLocationLongitude">
    </app-read-write-map>
    }

    <p class="alert alert-info">
        <strong>Information</strong>&nbsp;If you change your default location you will need to login again.
    </p>

    @if (submitProgress === 'success') {
    <div class="alert alert-success" data-testid="success">
        <strong>Success!</strong> You have updated your default location
        <div>
            <a type="button" class="btn btn-primary" [routerLink]='["/login"]'>Login</a>
        </div>
    </div>
    }

    @if (submitProgress === 'error') {
    <div class="alert alert-danger" data-testid="error">
        <strong>Whoops!</strong> An error occurred. Please try again.<br>
    </div>
    }

    @if (requesting) {
    <button class="btn btn-primary" type="button" disabled>
        Saving...
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    </button>
    } @else {
    <button type="button" class="btn btn-primary save" (click)="updateLocation()" data-testid="save">Save</button>
    }

</div>