<div class="find-container">

    <h2>Find users in the network</h2>

    <form id="searchForm" class="form-inline controls" novalidate #searchForm="ngForm" (ngSubmit)="searchNetwork()">
        <!-- <label for="searchTerm" class="sr-only">Password</label> -->
        <input type="text" class="form-control" id="searchTerm" name="searchTerm" placeholder="type search criterion"
            [(ngModel)]="searchTerm" required>
        <button type="submit" class="btn btn-primary" [disabled]="!searchForm.valid">Search</button>
        <!-- <button *ngIf="(searching)" class="btn btn-primary" type="submit" disabled>
      Searching the Birder network
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    </button> -->
    </form>

    <hr>

    <div *ngIf="(_service.getSearchResults | async) as results; else loadingOrError">

        <h3>Search results</h3>

        <div *ngIf="results.length">
            <div *ngFor="let user of results">
                <app-network-user [user]="user"></app-network-user>
            </div>
        </div>

        <div *ngIf="!results.length">
            <ngb-alert [dismissible]="false" class="d-block mt-3" type="info">
                No results...
            </ngb-alert>
        </div>

    </div>


    <ng-template #loadingOrError>
        <ng-container *ngIf="(_service.isError | async); else loading">
            <p>
                <strong>Whoops!</strong>&nbsp;An error occurred<br>
                Please try searching again.
            </p>
        </ng-container>
    </ng-template>

    <ng-template #loading>
        <ng-container *ngIf="(_service.isLoading | async)">
            <p>
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                <strong>&nbsp;Loading</strong>
            </p>
        </ng-container>
    </ng-template>

</div>