<div class="find-container">

    <h2>Find users in the network</h2>

    <!-- todo: this form needs tidying up -->
    <!-- validation message, etc -->

    <form id="searchForm" class="form-inline controls" #searchForm="ngForm" (ngSubmit)="searchNetwork()"
        data-testid="search-form">
        <label for="searchTerm" class="sr-only">Search</label>
        <input type="text" class="form-control" id="searchTerm" name="searchTerm" placeholder="type search criterion"
            [(ngModel)]="searchTerm" required data-testid="searchTerm">
        <button type="submit" class="btn btn-primary" [disabled]="!searchForm.valid"
            data-testid="submit">Search</button>
    </form>

    <hr>

    @if (_service.getSearchResults | async; as results) {

    <h3>Search results</h3>

    @for (user of results; track $index) {

    <div data-testid="search-results">
        <app-network-user [user]="user"></app-network-user>
    </div>
    } @empty {
    <div data-testid="no-search-results" class="alert alert-info">
        No results...
    </div>
    }
    }
    @else if (_service.isError | async) {
    <div class="alert alert-danger" data-testid="error">
        <strong>Whoops!</strong> There was an error retrieving the data.<br>
        <button type="button" class="btn btn-primary btn-sm btn-try-again" data-testid="reload-button"
            (click)="reload()" [disabled]="!searchForm.valid">Try
            Again</button>
    </div>
    } @else {
    @if (searchRequested) {
    <app-loading></app-loading>
    }
    }
</div>