<div class="find-container">

    <h2>Find users in the network</h2>

    <!-- todo: this form needs tidying up -->
    <!-- validation message, etc -->

    <form id="searchForm" class="form-inline controls" #searchForm="ngForm" (ngSubmit)="searchNetwork()"
        data-testid="search-form">
        <label for="searchTerm" class="sr-only">Search</label>
        <input type="text" class="form-control" id="searchTerm" name="searchTerm" placeholder="type search criterion"
            [(ngModel)]="searchTerm" required data-testid="searchTerm">
        <button type="submit" class="btn btn-primary" [disabled]="!searchForm.valid" data-testid="submit">Search</button>
        <!-- <button *ngIf="(searching)" class="btn btn-primary" type="submit" disabled>
      Searching the Birder network
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    </button> -->
    </form>

    <hr>

    <ng-container *ngIf="(_service.getSearchResults | async) as results; else loadingOrError">

        <h3>Search results</h3>

        <div *ngIf="results.length" data-testid="search-results">
            <div *ngFor="let user of results">
                <app-network-user [user]="user"></app-network-user>
            </div>
        </div>

        <div *ngIf="!results.length" data-testid="no-search-results" class="alert alert-info">
                No results...
        </div>
    </ng-container>

    <ng-template #loadingOrError>
        <div *ngIf="(_service.isError | async); else loading" class="alert alert-danger" data-testid="error">
            <strong>Whoops!</strong> There was an error retrieving the data.<br>
            <button type="button" class="btn btn-primary btn-sm btn-try-again" data-testid="reload-button"
                (click)="reload()" [disabled]="!searchForm.valid">Try
                Again</button>
        </div>
    </ng-template>

    <ng-template #loading>
        <app-loading *ngIf="searchRequested"></app-loading>
    </ng-template>

</div>