<div class="standard-container">
    <h1>Account Manager</h1>

    <mat-tab-group>
        <mat-tab label="Profile">
            <ng-template matTabContent>
                <app-account-manage-profile></app-account-manage-profile>
            </ng-template>
        </mat-tab>
        <mat-tab label="Password">
            <ng-template matTabContent>
                <app-account-manage-password></app-account-manage-password>
            </ng-template>
        </mat-tab>
        <mat-tab label="Location">
            <ng-template matTabContent>
                <app-account-manage-location></app-account-manage-location>
            </ng-template>
        </mat-tab>
        <mat-tab label="Avatar">
            <ng-template matTabContent>
                <app-account-manage-avatar></app-account-manage-avatar>
            </ng-template>
        </mat-tab>
    </mat-tab-group>
</div>