@if (topObservations.length) {
<table mat-table [dataSource]="topObservations" class="mat-elevation-z8 table">

    <!-- Index Column -->
    <ng-container matColumnDef="index">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let index = index"> {{ index + 1 }} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Species</th>
        <td mat-cell *matCellDef="let element">
            <a routerLink="/bird/detail/{{element.birdId}}">{{ element.name }}</a>
        </td>
    </ng-container>

    <!-- Count Column -->
    <ng-container matColumnDef="count">
        <th mat-header-cell *matHeaderCellDef>Count</th>
        <td mat-cell *matCellDef="let element"> {{ element.count }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

@if (_authService.getAuthUser | async; as authUser) {
<small class="italics" data-testid="auth-user-msg">See the full list in your
    <a routerLink="/lists/life/{{authUser.userName}}">Life List</a> page</small>
}
} @else {
<p data-testid="empty-array" class="alert alert-info">
    You have not yet logged any observations... <br>
    <a routerLink="/observation/create">Click here</a> to add your first one
</p>
}