<div class="child-container">
    <h1>Update your default location</h1>
    <p>Set your default location with this form.</p>

    <ng-container *ngIf="(_authService.getAuthUser | async) as authUser">
        <app-read-write-map [latitude]="authUser.defaultLocationLatitude"
            [longitude]="authUser.defaultLocationLongitude">
        </app-read-write-map>
    </ng-container>

    <p class="alert alert-info">
        <strong>Information</strong>&nbsp;If you change your default location you will need to login again.
    </p>

    <ng-container *ngIf="errorObject">
        <p class="alert alert-warning">
            An error occurred. Please try again.
        </p>
    </ng-container>

    <button *ngIf="!requesting" type="button" class="btn btn-primary" (click)="updateLocation()">Save</button>
    <button *ngIf="requesting" class="btn btn-primary" type="button" disabled>
        Saving...
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    </button>

</div>