<div class="feed-container">

    <div class="d-flex justify-content-between">
        <h1 data-testid="title">{{ title }}</h1>
        <app-filter-control [currentFilter]="filter"></app-filter-control>
    </div>

    @if (_service.observations | async; as observations) {

    <app-infinite-scroll (scrolled)="onScroll()">

        @for (item of observations; track $index) {
        <app-observation-feed-item [observation]="item"></app-observation-feed-item>
        }

        @if (_service.allLoaded | async) {
        <div class="alert alert-info no-more-items" data-testid="all-loaded">
            <strong>No more items</strong> You have reached the end of the feed.
            @if (filter === 'network') {
            <p>
                Switch to the <a [routerLink]='["/feed-p/public"]'>public feed</a> to view more observations.
            </p>
            }
        </div>
        }

        <!-- info: keep this to show loading when MORE items are added to the infinite scroll feed-->
        @if (_service.isLoading | async) {
            <app-loading></app-loading>
        }

    </app-infinite-scroll>

    } @else if (_service.isError | async) {
    <p class="alert alert-danger" data-testid="error">
        <strong>Whoops!</strong> There was an error retrieving the data.<br>
        <button type="button" class="btn btn-primary btn-sm btn-try-again" data-testid="reload-button"
            (click)="reload()">Try
            Again</button>
    </p>
    } @else {
    <app-loading></app-loading>
    }
</div>