app-home {
  .container {
    margin: auto;
    padding: 10px;
    text-align: center;
  }

  .main img {
    max-height: 100%;
    max-width: 100%;
  }

  .image img {
    max-height: 100%;
    max-width: 100%;
    margin-bottom: 10px;
  }

  .btn {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 12px;
  }

  @media screen and (min-width: 801px) { }
  
  @media screen and (max-width: 800px) { }
}
