<section class="section centre">
    <a [routerLink]='["/"]'>
        <img src="assets/images/logoWithSlogan.png" alt="birder logo">
    </a>

    <a mat-raised-button routerLink="/account/registration" class="button" id="btn-register">Get started</a>
    <a mat-raised-button mat-button color="primary" routerLink="/login" class="button" id="btn-login">I
        already have an account</a>
</section>

<app-features></app-features>

<section class="section centre extra-room">
    <h2>Are you ready?</h2>
    <a mat-raised-button routerLink="/account/registration" class="button" id="btn-register-two">Get started</a>
    <a mat-raised-button mat-button color="primary" routerLink="/login" class="button" id="btn-login-two">I
        already have an account</a>
</section>