@if (markerStatus === 'success') {
<p class="location" data-testid="location">
    <mat-icon>location_on</mat-icon>
    <span data-testid="location-text">{{ position.formattedAddress }}</span>
</p>

<google-map height="300px" width="100%" [center]="locationMarker?.position" [options]="options">
    <map-marker #markerElement="mapMarker" [position]="locationMarker?.position" [options]="locationMarker?.options"
        (mapClick)="openInfoWindow(markerElement)" data-testid="map-marker">
        <map-info-window data-testid="info-window">{{ position.formattedAddress }}</map-info-window>
    </map-marker>
</google-map>

} @else {
<div class="alert alert-danger" data-testid="error">
    <strong>Whoops!</strong> There was an error displaying the map.<br>
</div>
}