app-read-write-map {
    margin: 3%;

    .form-inline {
        display: flex;
    }
    .map-controls {
        margin: 1%;
    }
    .mat-icon {
        vertical-align: middle;
    }
    .location {
        margin-top: 1%;
        text-align: center;
    }
    .centre {
        text-align: center;
        margin: 5%;
    }
}
