<div>

    <div class="panel">
        <app-observation-count></app-observation-count>
    </div>

    <div class="panel">
        <app-temporary-side-bar></app-temporary-side-bar>
        <!-- <app-info-tweet></app-info-tweet> -->
    </div>

    <div class="panel">
        <app-observation-top-five></app-observation-top-five>
    </div>

    <div class="panel">
        <!-- <app-network-sidebar></app-network-sidebar> -->
        <app-temporary-side-bar></app-temporary-side-bar>
    </div>

</div>