@if (_authService.getAuthUser | async; as authUser) {
<div class="d-inline-block pull-right">
    <button mat-button [matMenuTriggerFor]="menu">Filter</button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item [hidden]="currentFilter === 'network'" [routerLink]='["/feed-n/network"]'>Only my
            network</button>
        <button mat-menu-item routerLink="/user/{{authUser.userName}}">Only mine</button>
        <button mat-menu-item [hidden]="currentFilter === 'public'" [routerLink]='["/feed-p/public"]'>All
            public</button>
    </mat-menu>
</div>
}