<div class="feed-container">

    <div class="d-flex justify-content-between">
        <h1>{{ title }}</h1>
        <app-filter-control [currentFilter]="'Public'"></app-filter-control>
    </div>
   
    <ng-container *ngIf="!(_service.isError | async); else errorTemplate">

        <app-infinite-scroll (scrolled)="onScroll()">

            <app-observation-feed-item *ngFor="let item of (_service.getObservations | async)" [observation]="item">
            </app-observation-feed-item>

            <p *ngIf="(_service.allLoaded | async)" class="alert alert-info no-more-items">
                <strong>No more items</strong>&nbsp;You have reached the end of the feed.
            </p>

            <p *ngIf="_service.isLoading | async">
                <app-loading></app-loading>
            </p>

        </app-infinite-scroll>

    </ng-container>

    <ng-template #errorTemplate>
        <div class="alert alert-danger">
            <strong>Whoops!</strong>&nbsp;There was an error retrieving the data.<br>
            <button type="button" class="btn btn-primary btn-sm" data-testid="reload-button" (click)="reload()">Try
                Again</button>
        </div>
    </ng-template>

</div>
