<div class="reset-password-container">

    <ng-container *ngIf="resetPasswordForm; else loadingOrError">

        <h1>Reset your password</h1>

        <form [hidden]="submitted" [formGroup]="resetPasswordForm" novalidate (ngSubmit)="onSubmit(resetPasswordForm.value)"
            autocomplete="off">

            <div class="form-group">
                <label for="email">Email</label>
                <input class="form-control" id="email" type="email" placeholder="Email" formControlName="email"
                    required autocomplete="off">
                <div *ngFor="let validation of reset_password_validation_messages.email">
                    <small class="text-danger"
                        *ngIf="resetPasswordForm.get('email')?.hasError(validation.type) && (resetPasswordForm.get('email')?.dirty || resetPasswordForm.get('email')?.touched)">
                        {{validation.message}}
                    </small>
                </div>
            </div>

            <div class="password-group" formGroupName="passwordGroup">
                <div class="form-group">
                    <label for="password">Password</label>
                    <input class="form-control" id="password" type="password" placeholder="Password"
                        formControlName="password" required>
                    <div *ngFor="let validation of reset_password_validation_messages.password">
                        <small class="text-danger"
                            *ngIf="resetPasswordForm.get('passwordGroup')?.get('password')?.hasError(validation.type) && (resetPasswordForm.get('passwordGroup')?.get('password')?.dirty || resetPasswordForm.get('passwordGroup')?.get('password')?.touched)">
                            {{validation.message}}
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label for="confirmPassword">Confirm password</label>
                    <input class="form-control" id="confirmPassword" type="password" placeholder="Confirm Password"
                        formControlName="confirmPassword" required>

                    <div *ngFor="let validation of reset_password_validation_messages.confirmPassword">
                        <small class="text-danger"
                            *ngIf="(resetPasswordForm.get('passwordGroup')?.get('confirmPassword')?.hasError(validation.type) || resetPasswordForm.get('passwordGroup')?.hasError(validation.type)) && (resetPasswordForm.get('passwordGroup')?.get('confirmPassword')?.dirty || resetPasswordForm.get('passwordGroup')?.get('confirmPassword')?.touched)">
                            {{validation.message}}</small>
                    </div>
                </div>
            </div>

            <div [hidden]="!errorObject" class="alert alert-danger">
                An error occurred. Please check the form and try again.
            </div>

            <!-- <pre>{{resetPasswordForm.value | json}}</pre> -->

            <button *ngIf="!requesting" type="submit" class="btn btn-primary" [disabled]="!resetPasswordForm.valid">
                Submit
            </button>
            <button *ngIf="requesting" class="btn btn-primary" type="submit" disabled>
                Submitting...
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            </button>

        </form>
    
        <div [hidden]="!submitted" class="alert alert-success">
            <strong>Success!</strong> Your password was reset.
            <div>
                <a type="button" class="btn btn-primary" [routerLink]='["/login"]'>Login</a>
            </div>
        </div>

    </ng-container>

    <ng-template #loadingOrError>
        <ng-container *ngIf="errorObject; else loading">
            <p class="centre">
                <strong>Whoops!</strong>&nbsp;An error occurred<br>
                <!-- ToDo: what's best here? -->
                <!-- <button type="button" class="btn btn-primary btn-sm" data-testid="reload-button" (click)="reload()">Try
                Again</button> -->
            </p>
        </ng-container>
    </ng-template>

    <ng-template #loading>
        <app-loading></app-loading>
    </ng-template>

</div>
