<div class="standard-container">
    <h1>Your Birder Network</h1>

    <app-network-summary [showTitle]="false"></app-network-summary>

    <mat-tab-group>
        <mat-tab label="Suggestions">
            <ng-template matTabContent>
                <app-network-suggestion></app-network-suggestion>
            </ng-template>
        </mat-tab>
        <mat-tab label="Find">
            <ng-template matTabContent>
                <app-network-find></app-network-find>
            </ng-template>
        </mat-tab>
    </mat-tab-group>

</div>