<div class="register-container">

    <ng-container *ngIf="changePasswordForm; else loadingOrError">

        <h1>Change Password</h1>

        <form [formGroup]="changePasswordForm" novalidate (ngSubmit)="onSubmit(changePasswordForm.value)"
            autocomplete="off">

            <div class="form-group">
                <label for="oldPassword">Current password</label>
                <input class="form-control" id="oldPassword" type="password" placeholder="Current Password" formControlName="oldPassword"
                    required>
                <div *ngFor="let validation of  changePassword_validation_messages.oldPassword">
                    <small class="text-danger"
                        *ngIf="changePasswordForm.get('oldPassword')?.hasError(validation.type) && (changePasswordForm.get('oldPassword')?.dirty || changePasswordForm.get('oldPassword')?.touched)">
                        {{validation.message}}
                    </small>
                </div>
            </div>

            <div class="password-group" formGroupName="passwordGroup">
                <div class="form-group">
                    <label for="password">New password</label>
                    <input class="form-control" id="password" type="password" placeholder="Password"
                        formControlName="password" required>
                    <div *ngFor="let validation of  changePassword_validation_messages.password">
                        <small class="text-danger"
                            *ngIf="changePasswordForm.get('passwordGroup')?.get('password')?.hasError(validation.type) && (changePasswordForm.get('passwordGroup')?.get('password')?.dirty || changePasswordForm.get('passwordGroup')?.get('password')?.touched)">
                            {{validation.message}}
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label for="confirmPassword">Confirm new password</label>
                    <input class="form-control" id="confirmPassword" type="password" placeholder="Confirm Password"
                        formControlName="confirmPassword" required>
                    <div *ngFor="let validation of changePassword_validation_messages.confirmPassword">
                        <small class="text-danger"
                            *ngIf="(changePasswordForm.get('passwordGroup')?.get('confirmPassword')?.hasError(validation.type) || changePasswordForm.get('passwordGroup')?.hasError(validation.type)) && (changePasswordForm.get('passwordGroup')?.get('confirmPassword')?.dirty || changePasswordForm.get('passwordGroup')?.get('confirmPassword')?.touched)">
                            {{validation.message}}</small>
                    </div>
                </div>
            </div>

            <!-- <pre>{{changePasswordForm.value | json}}</pre> -->

            <ng-container *ngIf="errorObject">
                <p class="alert alert-info">
                    An error occurred. Please check the form and try again.
                </p>
            </ng-container>

            <button *ngIf="!requesting" type="submit" class="btn btn-primary" [disabled]="!changePasswordForm.valid">
                Save
            </button>
            <button *ngIf="requesting" class="btn btn-primary" type="submit" disabled>
                Saving...
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            </button>

        </form>

    </ng-container>

    <ng-template #loadingOrError>
        <ng-container *ngIf="errorObject; else loading">
            <p class="centre">
                <strong>Whoops!</strong>&nbsp;An error occurred<br>
                <!-- ToDo: what's best here? -->
                <!-- <button type="button" class="btn btn-primary btn-sm" data-testid="reload-button" (click)="reload()">Try
                Again</button> -->
            </p>
        </ng-container>
    </ng-template>

    <ng-template #loading>
        <app-loading></app-loading>
    </ng-template>

</div>
