<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary logo-container">

    <div class="container">
        <a class="navbar-brand" [routerLink]='["/"]'>
            <img src="https://birderweb.com/favicon-32x32.png" class="d-inline-block" alt="">
            Birder
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <!-- authenticated -->
            <ng-container *ngIf="(_service.isAuthorisedObservable | async)">

                <ng-container *ngIf="(_service.getAuthUser | async) as authUser">

                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]='["/observation-feed"]'>Feed</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]='["/bird/index"]'>Birds</a>
                        </li>
                        <!-- READ USERNAME FROM TOKEN -->
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/lists/life/{{authUser.userName}}">Life List</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]='["/network"]'>Network</a>
                        </li>
                    </ul>

                    <!--  -->
                    <div class="right-hand-menu">
                        <ul class="nav navbar-nav mr-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    <mat-icon class="icon">add</mat-icon><span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" [routerLink]='["/observation/create"]'>Add single
                                            observation</a>
                                    </li>
                                    <li> <a class="dropdown-item disabled">Add multiple observations</a></li>
                                </ul>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    <img class="avatar" src={{authUser.avatar}} width="29" height="29"><span
                                        class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item small-text"
                                        routerLink="/user/{{authUser.userName}}">Signed in
                                        as:<br><span class="username">{{authUser.userName}}</span></a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" routerLink="/user/{{authUser.userName}}">My
                                        Profile</a>
                                    <a class="dropdown-item" [routerLink]='["/account-manager-profile"]'>Manage
                                        Account</a>
                                    <a class="dropdown-item" [routerLink]='["/logout"]'>Logout</a>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </ng-container>

            </ng-container>

            <!-- not authenticated -->
            <ng-container *ngIf="!(_service.isAuthorisedObservable | async)">

                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]='["/about/about"]'>About</a>
                    </li>
                </ul>
                <!--  -->
                <div class="right-hand-menu">
                    <ul class="nav navbar-nav me-2">
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]='["/login"]'>Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]='["/register"]'>Register</a>
                        </li>
                    </ul>
                </div>

            </ng-container>
        </div>
    </div>
</nav>