    <section class="logo-section">

        <a [routerLink]='["/"]'>
            <img src="https://birderweb.com/logo-and-slogan.png" alt="Birder">
        </a>

        <ul ngbNav #nav="ngbNav" [activeId]="3" class="nav-tabs nav-justified">
            <li [ngbNavItem]="1">
                <a ngbNavLink routerLink="/about/about">About</a>
            </li>
            <li [ngbNavItem]="2">
                <a ngbNavLink routerLink="/about/contact">Contact</a>
            </li>
            <li [ngbNavItem]="3">
                <a ngbNavLink routerLink="/about/developer">Developer</a>
            </li>
            <li [ngbNavItem]="4">
                <a ngbNavLink routerLink="/about/technology">Technology</a>
            </li>
            <li [ngbNavItem]="5">
                <a ngbNavLink routerLink="/about/future">Future</a>
            </li>
        </ul>

    </section>


    <div class="main">

        <h1 class="centre">About me</h1>

        <div class="developer-content">

            <p>My name is <span class="bold">Andrew Cross</span>.&nbsp;&nbsp;I am a software developer
                with a focus on .NET technologies, the Angular platform, and SQL Server databases.</p>

            <section>
                <hr>
                <h2>My experience</h2>
                <p>I have experience in the full stack development
                    of websites and desktop applications.&nbsp;&nbsp;Here is a summary of the technologies I have worked
                    with:</p>


                <div class="bullet-points">
                    <h3>.NET/C#</h3>

                    <ul>
                        <li>
                            <p>
                                Websites with ASP.NET 6. I build REST APIs with the ASP.NET and MVC libraries.
                            </p>
                        </li>

                        <li>
                            <p>
                                Legacy web clients with Razor pages.
                            </p>
                        </li>

                        <li>
                            <p>
                                Desktop software with the Windows Presentation Foundation (WPF) to the MVVM pattern.
                            </p>
                        </li>

                        <li>
                            <p>
                                Entity Framework ('code-first'), LINQ, and AutoMapper for object-database mapping.
                            </p>
                        </li>

                        <li>
                            <p>Test-Driven Development (DDD) with XUnit, NUnit, and Moq.</p>
                        </li>
                    </ul>
                </div>

                <div class="bullet-points">
                    <h3>Web/Client</h3>
                    <ul>
                        <li>
                            <p>Web applications with the Angular (v4 &mdash; 12) platform and the Angular Material
                                components library. Unit testing with Karma and Jasmine.
                            </p>
                        </li>

                        <!-- <li>
                            <a href="https://material.angular.io/" target="_">Angular Material</a> components library.
                        </li> -->

                        <li>
                            <p>HTML, SCSS/CSS, Bootstrap, Knockout.js.</p>
                        </li>
                    </ul>
                </div>

                <div class="bullet-points">
                    <h3>Databases</h3>
                    <ul>
                        <li>
                            <p>Designing, developing, and deploying SQL databases.</p>
                        </li>

                        <li>
                            <p>Programming stored procedures, queries, and data transformations with T-SQL scripts.</p>
                        </li>
                    </ul>
                </div>
            </section>

            <section>
                <hr>
                <h2>My curriculum vitae</h2>
                <p>My curriculum vitae with more detail on specific
                    projects is available by request.&nbsp;&nbsp;Use the <a routerLink="/contact">Contact</a>
                    form to get in touch with me.</p>
            </section>

            <section>
                <hr>
                <h2>My interests</h2>
                <p>I follow cricket and rugby.&nbsp;&nbsp;I enjoy outdoor activities, particularly hiking; and swimming and
                    Parkrun to keep fit.&nbsp;&nbsp;I am an avid reader of fiction, history, biography, and
                    economics.&nbsp;&nbsp;I am interested in data science which has led me to develop skills in Python
                    and R.&nbsp;&nbsp;I enjoy developing small software projects like this website.
                </p>
                <h2>Things I like</h2>
                <p>Alan Judd | Lancashire County Cricket Club | Deidre McCloskey | Cricket | P.G.H. Fender | Oporto | Frederick Forsyth 
                    | Ornithology | Toulouse | Ernest Hemingway | Mike Atherton | </p>
            </section>

        </div>
    </div>