<div class="standard-container" *ngIf="manageProfileForm; else loading">

    <h1>Update your profile</h1>

    <p>Submit this form to change your username or email.</p>

    <form [formGroup]="manageProfileForm" novalidate (ngSubmit)="onSubmit(manageProfileForm.value)" autocomplete="off"
    data-testid="manageProfileForm" *ngIf="submitProgress !== 'success'">

        <div class="form-group">
            <label for="username">Username</label>
            <div class="is-loading">
                <input class="form-control" id="username" type="text" placeholder="username" formControlName="username"
                    required data-testid="username">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
                    *ngIf="(manageProfileForm.get('username')?.pending)" style="float: right; margin-left: 8px"></span>
            </div>
            <div *ngFor="let validation of _validation.account_validation_messages.username"
                data-testid="username-error">
                <small class="text-danger"
                    *ngIf="manageProfileForm.get('username')?.hasError(validation.type) && (manageProfileForm.get('username')?.dirty || manageProfileForm.get('username')?.touched)">
                    {{validation.message}}
                </small>
            </div>
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input class="form-control" id="email" type="email" placeholder="Email" formControlName="email" required
                data-testid="email">
            <div *ngFor="let validation of _validation.account_validation_messages.email" data-testid="email-error">
                <small class="text-danger"
                    *ngIf="manageProfileForm.get('email')?.hasError(validation.type) && (manageProfileForm.get('email')?.dirty || manageProfileForm.get('email')?.touched)">
                    {{validation.message}}
                </small>
            </div>
            <p [hidden]="!manageProfileForm.get('email')?.dirty" class="alert alert-info email-alert">
                <strong>Information</strong>&nbsp;You will need to confirm your new email and login again.
            </p>
        </div>

        <button *ngIf="!requesting" type="submit" class="btn btn-primary" [disabled]="!manageProfileForm.valid"
            data-testid="submit">
            Save
        </button>
        <button *ngIf="requesting" class="btn btn-primary" type="submit" disabled>
            Saving...
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        </button>

    </form>

    <div *ngIf="submitProgress === 'success'" class="alert alert-success" data-testid="success">
        <strong>Success!</strong> You have updated your profile
    </div>

    <div *ngIf="submitProgress === 'error'" class="alert alert-danger" data-testid="error">
        <strong>Whoops!</strong> An error occurred. Please try again.<br>
    </div>
</div>

<ng-template #loading>
    <app-loading></app-loading>
</ng-template>