<!-- todo: error handling? -->

@if (manageProfileForm) {

<div class="standard-container-full-width">

    <h1>Update your profile</h1>

    <p>Submit this form to change your username or email.</p>

    @if (submitProgress !== 'success') {

    <form [formGroup]="manageProfileForm" novalidate (ngSubmit)="onSubmit(manageProfileForm.value)" autocomplete="off"
        data-testid="manageProfileForm">

        <div class="form-group">
            <label for="username">Username</label>
            <div class="is-loading">
                <input class="form-control" id="username" type="text" placeholder="username" formControlName="username"
                    required data-testid="username">
                @if (manageProfileForm.get('username')?.pending) {
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
                    style="float: right; margin-left: 8px"></span>
                }
            </div>
            <div *ngFor="let validation of _validation.account_validation_messages.username"
                data-testid="username-error">
                <small class="text-danger"
                    *ngIf="manageProfileForm.get('username')?.hasError(validation.type) && (manageProfileForm.get('username')?.dirty || manageProfileForm.get('username')?.touched)">
                    {{validation.message}}
                </small>
            </div>
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input class="form-control" id="email" type="email" placeholder="Email" formControlName="email" required
                data-testid="email">
            <div *ngFor="let validation of _validation.account_validation_messages.email" data-testid="email-error">
                <small class="text-danger"
                    *ngIf="manageProfileForm.get('email')?.hasError(validation.type) && (manageProfileForm.get('email')?.dirty || manageProfileForm.get('email')?.touched)">
                    {{validation.message}}
                </small>
            </div>
            <p [hidden]="!manageProfileForm.get('email')?.dirty" class="alert alert-info email-alert">
                <strong>Information</strong>&nbsp;You will need to confirm your new email and login again.
            </p>
        </div>

        @if (requesting) {
        <button class="btn btn-primary" type="submit" disabled>
            Saving...
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        </button>
        } @else {
        <button type="submit" class="btn btn-primary" [disabled]="!manageProfileForm.valid" data-testid="submit">
            Save
        </button>
        }
    </form>
    }

    @if (submitProgress === 'success') {
    <p class="alert alert-success" data-testid="success">
        <strong>Success!</strong> You have updated your profile
    </p>
    }
    @if (submitProgress === 'error') {
    <p *ngIf="submitProgress === 'error'" class="alert alert-danger" data-testid="error">
        <strong>Whoops!</strong> An error occurred. Please try again.<br>
    </p>
    }
</div>
} @else {
<app-loading></app-loading>
}