<div class="standard-container" *ngIf="changePasswordForm; else loading">

    <h1>Update your password</h1>

    <form [formGroup]="changePasswordForm" novalidate (ngSubmit)="onSubmit(changePasswordForm.value)" autocomplete="off"
        data-testid="changePasswordForm" *ngIf="submitProgress !== 'success'">

        <div class="form-group">
            <label for="oldPassword">Current password</label>
            <input class="form-control" id="oldPassword" type="password" placeholder="Current Password"
                formControlName="oldPassword" required data-testid="oldPassword">
            <div *ngFor="let validation of _validation.account_validation_messages.oldPassword"
                data-testid="oldPassword-error">
                <small class="text-danger"
                    *ngIf="changePasswordForm.get('oldPassword')?.hasError(validation.type) && (changePasswordForm.get('oldPassword')?.dirty || changePasswordForm.get('oldPassword')?.touched)">
                    {{validation.message}}
                </small>
            </div>
        </div>

        <div class="password-group" formGroupName="passwordGroup">
            <div class="form-group">
                <label for="password">New password</label>
                <input class="form-control" id="password" type="password" placeholder="Password"
                    formControlName="password" required data-testid="password">
                <div *ngFor="let validation of _validation.account_validation_messages.password"
                    data-testid="password-error">
                    <small class="text-danger"
                        *ngIf="changePasswordForm.get('passwordGroup')?.get('password')?.hasError(validation.type) && (changePasswordForm.get('passwordGroup')?.get('password')?.dirty || changePasswordForm.get('passwordGroup')?.get('password')?.touched)">
                        {{validation.message}}
                    </small>
                </div>
            </div>

            <div class="form-group">
                <label for="confirmPassword">Confirm new password</label>
                <input class="form-control" id="confirmPassword" type="password" placeholder="Confirm Password"
                    formControlName="confirmPassword" required data-testid="confirmPassword">
                <div *ngFor="let validation of _validation.account_validation_messages.confirmPassword"
                    data-testid="confirmPassword-error">
                    <small class="text-danger"
                        *ngIf="(changePasswordForm.get('passwordGroup')?.get('confirmPassword')?.hasError(validation.type) || changePasswordForm.get('passwordGroup')?.hasError(validation.type)) && (changePasswordForm.get('passwordGroup')?.get('confirmPassword')?.dirty || changePasswordForm.get('passwordGroup')?.get('confirmPassword')?.touched)">
                        {{validation.message}}</small>
                </div>
            </div>
        </div>

        <!-- <pre>{{changePasswordForm.value | json}}</pre> -->

        <button *ngIf="!requesting" type="submit" class="btn btn-primary" [disabled]="!changePasswordForm.valid" data-testid="submit">
            Save
        </button>
        <button *ngIf="requesting" class="btn btn-primary" type="button" disabled>
            Saving...
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        </button>

    </form>

    <div *ngIf="submitProgress === 'success'" class="alert alert-success" data-testid="success">
        <strong>Success!</strong> You have successfully changed your password
    </div>

    <div *ngIf="submitProgress === 'error'" class="alert alert-danger" data-testid="error">
        <strong>Whoops!</strong> An error occurred. Please try again.
    </div>
</div>

<ng-template #loading>
    <app-loading></app-loading>
</ng-template>