<div class="standard-container-full-width">

    <h1>Update your password</h1>

    @if (submitProgress() !== 'success') {
    <form [formGroup]="form" novalidate (ngSubmit)="onSubmit(form.value)" autocomplete="off"
        data-testid="changePasswordForm">

        <p>
            <mat-form-field class="full-width" id="oldPassword">
                <mat-label>Current Password</mat-label>
                <input matInput id="oldPassword" name="oldPassword" type="password" formControlName="oldPassword"
                    placeholder="oldPassword">
                <!-- <mat-hint>alphanumeric & eight characters</mat-hint> -->
                @if (form.get('oldPassword')?.hasError('required')) {
                <mat-error class="validation-required-oldPassword">
                    Current password is <strong>required</strong>
                </mat-error>
                }

            </mat-form-field>
        </p>

        <section formGroupName="passwordGroup">
            <p>
                <mat-form-field class="full-width" id="password">
                    <mat-label>New Password</mat-label>
                    <input matInput id="password" name="password" type="password" formControlName="password"
                        placeholder="password">
                    <mat-hint>alphanumeric & eight characters</mat-hint>
                    @if (form.get('passwordGroup')?.get('password')?.hasError('required')) {
                    <mat-error class="validation-required-password">
                        Password is <strong>required</strong>
                    </mat-error>
                    }
                    @if (form.get('passwordGroup')?.get('password')?.hasError('minlength')) {
                    <mat-error class="validation-minlength-password">
                        Password must be at least <strong>8 characters long</strong>
                    </mat-error>
                    }
                    @if (form.get('passwordGroup')?.get('password')?.hasError('pattern')) {
                    <mat-error class="validation-pattern-password">
                        Password must contain at least <strong>one number and one letter</strong>
                    </mat-error>
                    }
                </mat-form-field>
            </p>
            <p>
                <mat-form-field class="full-width" id="confirmPassword">
                    <mat-label>Confirm New Password</mat-label>
                    <input matInput id="confirmPassword" name="confirmPassword" type="password"
                        formControlName="confirmPassword" placeholder="confirm password">
                    @if (form.get('passwordGroup')?.get('confirmPassword')?.hasError('required')) {
                    <mat-error class="validation-required-confirmPassword">
                        Password is <strong>required</strong>
                    </mat-error>
                    }
                    @if (form.get('passwordGroup')?.hasError('match')) {
                    <mat-error class="validation-match-confirmPassword">
                        Passwords <strong>do not match</strong>
                    </mat-error>
                    }
                </mat-form-field>
            </p>
        </section>

        <!-- <pre>{{form.value | json}}</pre> -->

        <section class="buttons">
            @if (requesting()) {
            <button mat-stroked-button type="button" disabled>
                Saving...
                <mat-icon><mat-spinner diameter="15">
                    </mat-spinner></mat-icon>
            </button>
            } @else {
            <button mat-stroked-button type="submit" class="btn btn-primar" [disabled]="!form.valid"
                data-testid="submit">
                Update password
            </button>
            }
        </section>


    </form>
    }


    @if (submitProgress() === 'success') {
    <p class="alert alert-success" data-testid="success">
        <strong>Success!</strong> You have successfully changed your password
    </p>
    }

    @if (submitProgress() === 'error') {
    <p class="alert alert-danger" data-testid="error">
        <strong>Whoops!</strong> An error occurred. Please try again.
    </p>
    }
</div>
