
<form class="example-form" [formGroup]="selectSpeciesForm">
    <mat-form-field class="example-full-width">
        <mat-label>State</mat-label>
        <input matInput aria-label="State" [matAutocomplete]="auto" formControlName="bird" (focus)="filter()">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            @for (state of filteredStates | async; track state) {
            <mat-option [value]="state">
                <!-- <img alt="" class="example-option-img" [src]="state.flag" height="25"> -->
                {{state.englishName}}
                <!-- <small>Population: {{state.population}}</small> -->
            </mat-option>
            }
        </mat-autocomplete>
    </mat-form-field>

    <br>

    <pre>{{ selectSpeciesForm.value.bird.englishName }}</pre>
    <pre>{{ selectSpeciesForm.value | json }}</pre>

    <!-- <pre>{{ stateCtrl.value | json }}</pre> -->

    <!-- <pre>{{ _service.getBirds| json }}</pre> -->

</form>

