@if (_service.images | async; as images) {
<div class="standard-container" data-testid="images">
    @for (image of images; track $index) {
    <div class="img-wrapper">
        <img class="img-fluid" [src]="image.url" alt="error">
    </div>
    <div class="carousel-caption"></div>
    } @empty {
    <div data-testid="no-images" class="alert alert-info">
        <strong>We're sorry!</strong> There are no recordings available for this species
    </div>
    }
    <div class="photos-info">These photos are from Flickr</div>
</div>
} @else if (_service.isError | async) {

<p class="alert alert-danger" data-testid="error">
    <strong>Whoops!</strong> An error occurred. Please try again.
</p>
} @else {
<app-loading></app-loading>
}