<div class="network-container">

  <ng-container *ngIf="(_service.getSummary | async) as summary; else loadingOrError">

    <h1 *ngIf="showTitle">Your Birder Network</h1>

    <ng-container class="summary network" *ngIf="(_authService.getAuthUser | async) as authUser">
      <p><a routerLink="/followers/{{authUser.userName}}">{{ summary.followersCount }} {{
          summary.followersCount > 1 ? 'followers' : 'follower' }}</a>
        /
        <a routerLink="/following/{{authUser.userName}}">{{ summary.followingCount }} following</a>
      </p>
    </ng-container>

  </ng-container>

  <ng-template #loadingOrError>
    <ng-container *ngIf="(_service.isError | async); else loading">
      <p>
          <strong>Whoops!</strong>&nbsp;An error occurred&nbsp;&nbsp;
          <button type="button" class="btn btn-primary btn-sm" data-testid="reload-button" (click)="reload()">Try
              Again</button>
      </p>
  </ng-container>
  </ng-template>


  <ng-template #loading>
    <p>
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      <strong>&nbsp;Loading</strong>
    </p>
  </ng-template>

</div>