<div class="network-container">

  @if (_service.getSummary | async; as summary) {

  @if (showTitle) {
  <h1 data-testid="h1-title">Your Birder Network</h1>
  }

  @if (_authService.getAuthUser | async; as authUser) {
  <p data-testid="summary"><a routerLink="/followers/{{authUser.userName}}/1">{{ summary.followersCount }} {{
      summary.followersCount > 1 ? 'followers' : 'follower' }}</a>
    /
    <a routerLink="/following/{{authUser.userName}}/0">{{ summary.followingCount }} following</a>
  </p>
  }

  } @else if (_service.isError | async) {
  <div class="alert alert-danger" data-testid="error">
    <strong>Whoops!</strong> There was an error retrieving the data.<br>
    <button type="button" class="btn btn-primary btn-sm btn-try-again" data-testid="reload-button"
      (click)="reload()">Try
      Again</button>
  </div>
  } @else {
  <app-loading></app-loading>
  }
</div>