
.example-tab-icon {
    margin-right: 8px;
  }

  .centre {
    text-align: center;
    margin: auto;
}

.italics {
    font-style: italic;
  }

.section-title {
    margin: 5% 0%;
    text-align: center;
}

.text {
    text-align: justify;
}

.icon-credit {
    text-align: center;
    margin: 0 auto;
    font-size: 0.8em;
}