<section class="logo-section">
  <a [routerLink]='["/"]'>
    <img src="assets/images/logoWithSlogan.png" alt="Birder">
  </a>
</section>


<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">thumb_up</mat-icon>
      About
    </ng-template>

    <app-about-general></app-about-general>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">thumb_up</mat-icon>
      Features
    </ng-template>

    <app-features></app-features>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">thumb_up</mat-icon>
      Policies
    </ng-template>

    <p>{{ placeholder }}</p>
  </mat-tab>
</mat-tab-group>