<div class="observation-add-container" *ngIf="addObservationForm">
    <h1>Add observation</h1>

    <form [formGroup]="addObservationForm" novalidate (ngSubmit)="onSubmit()">

        <mat-vertical-stepper [linear]="false" #stepper (selectionChange)="onStepperSelectionChange()">

            <mat-step [stepControl]="addObservationForm && selectSpeciesForm" errorMessage="Section not complete.">
                <ng-template matStepLabel><span class="stepperTop0">Details: what and when?</span></ng-template>

                <div class="form-group">
                    <label for="observationDateTime">Date & time</label>
                    <div class="date-time-control">
                        <input class="form-control" type="datetime" id="observationDateTime" readonly="readonly"
                            required [ngxMatDatetimePicker]="picker" placeholder="Choose a date"
                            formControlName="observationDateTime" [min]="minDate" [max]="maxDate">
                        <mat-datepicker-toggle matSuffix [for]="$any(picker)"></mat-datepicker-toggle>
                        <ngx-mat-datetime-picker #picker [showSpinners]="true" [showSeconds]="false" [stepHour]="1"
                            [stepMinute]="1" [stepSecond]="1" [touchUi]="false">
                        </ngx-mat-datetime-picker>
                    </div>
                    <div
                        *ngIf="addObservationForm.get('observationDateTime')?.invalid && 
                    addObservationForm.get('observationDateTime')?.errors && 
                    (addObservationForm.get('observationDateTime')?.dirty || addObservationForm.get('observationDateTime')?.touched)">
                        <small class="text-danger"
                            *ngIf="addObservationForm.get('observationDateTime')?.hasError('required')">
                            This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <!-- <mat-form-field> -->
                    <label for="quantity">How many</label>
                    <input class="form-control" type="number" id="quantity" placeholder="Quantity"
                        formControlName="quantity" required min="1" max="1000">
                    <div *ngIf="addObservationForm.get('quantity')?.invalid && 
                        addObservationForm.get('quantity')?.errors && 
                        (addObservationForm.get('quantity')?.dirty || addObservationForm.get('quantity')?.touched)">
                        <small class="text-danger" *ngIf="addObservationForm.get('quantity')?.hasError('required')">
                            This field is required.
                        </small>
                        <small class="text-danger" *ngIf="addObservationForm.get('quantity')?.hasError('min')">
                            The minimum value is {{ addObservationForm.get('quantity')?.errors?.min?.min
                            }}
                            individual.
                        </small>
                        <small class="text-danger" *ngIf="addObservationForm.get('quantity')?.hasError('max')">
                            The maximum value is {{ addObservationForm.get('quantity')?.errors?.max?.max
                            }}
                            individuals.
                        </small>
                    </div>
                </div>

                <app-select-species #species [selectSpeciesForm]="selectSpeciesForm"></app-select-species>

                <button matStepperNext type="button">Next</button>

            </mat-step>

            <mat-step>
                <!-- <form [formGroup]="secondFormGroup"> -->
                <ng-template matStepLabel><span class="stepperTop1">Location</span></ng-template>

                <ng-container *ngIf="(_authService.getAuthUser | async) as authUser">
                    <app-read-write-map [latitude]="authUser.defaultLocationLatitude"
                        [longitude]="authUser.defaultLocationLongitude">
                    </app-read-write-map>
                    <!-- [formattedAddress]="" [shortAddress]="" -->
                </ng-container>


                <button matStepperPrevious type="button">Back</button>
                <button matStepperNext type="button">Next</button>

                <!-- </form> -->
            </mat-step>
            <!--  -->
            <mat-step [optional]="true">
                <ng-template matStepLabel><span class="stepperTop2">Notes</span></ng-template>

                <app-add-notes></app-add-notes>

                <button matStepperPrevious type="button">Back</button>
                <button matStepperNext type="button">Next</button>

            </mat-step>
            <!--  -->

            <mat-step>
                <ng-template matStepLabel><span class="stepperTop3">Done</span></ng-template>
                <!-- <div> -->
                <p *ngIf="!addObservationForm.valid || !selectSpeciesForm.valid">
                    Part 1 is not complete. You must complete all manadatory fields.
                </p>
                <p *ngIf="addObservationForm.valid && selectSpeciesForm.valid">
                    You are now done. Choose 'Save' to add your observation.
                </p>
                <!-- </div> -->

                <!-- CLEAR FORM -->

                <!-- USE BOOTSTRAP BUTTONS -->

                <button matStepperPrevious type="button">Back</button>
                <button (click)="stepper.reset()" type="button">Reset</button>
                <button *ngIf="!requesting" type="submit"
                    [disabled]="!addObservationForm.valid || !selectSpeciesForm.valid">
                    Save
                </button>
                <button *ngIf="requesting" type="submit" disabled>
                    Save observation...
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                </button>



            </mat-step>

        </mat-vertical-stepper>

    </form>

</div>