<div class="standard-container">
    
    <h1>Create observation</h1>

    <form [formGroup]="addObservationForm" novalidate (ngSubmit)="onSubmit()">

        <mat-vertical-stepper [linear]="false" #stepper>

            <mat-step [stepControl]="dateForm && selectSpeciesForm && addObservationForm"
                errorMessage="This section is not completed">

                <ng-template matStepLabel><span class="stepperTop0">Details: what and when?</span></ng-template>

                <app-select-species #species [selectSpeciesForm]="selectSpeciesForm"></app-select-species>

                <mat-form-field class="form-field">
                    <mat-label>Quantity</mat-label>
                    <input matInput #message type="number" min="1" max="1000" id="quantity" formControlName="quantity">
                    <mat-hint align="start">How many individuals</mat-hint>
                    @if (addObservationForm.get('quantity')?.hasError('required'))
                    {
                    <mat-error>This field is required.</mat-error>
                    }
                    @if (addObservationForm.get('quantity')?.hasError('min')) {
                    <mat-error>
                        The minimum value is {{ addObservationForm.get('quantity')?.errors?.min?.min}}
                        individual.</mat-error>
                    }
                    @if (addObservationForm.get('quantity')?.hasError('max')) {
                    <mat-error>
                        The maximum value is {{ addObservationForm.get('quantity')?.errors?.max?.max }} individuals.
                    </mat-error>
                    }
                </mat-form-field>

                <app-select-date-time [dateForm]="dateForm"></app-select-date-time>

                <button matStepperNext type="button" class="btn btn-light btn-small">Next</button>
            </mat-step>

            <mat-step>
                <ng-template matStepLabel><span class="stepperTop1">Location</span></ng-template>

                @if (_authService.getAuthUser | async; as authUser) {
                <app-read-write-map [latitude]="authUser.defaultLocationLatitude"
                    [longitude]="authUser.defaultLocationLongitude">
                </app-read-write-map>
                }

                <button matStepperPrevious type="button" class="btn btn-light btn-small">Back</button>
                <button matStepperNext type="button" class="btn btn-light btn-small">Next</button>
            </mat-step>

            <mat-step [optional]="true">
                <ng-template matStepLabel><span class="stepperTop2">Notes</span></ng-template>

                <p class="alert alert-info">
                    <strong>Whoops!</strong> The Notes functionality is currently not available. This capability is
                    being redesigned.<br>
                </p>

                <!-- <div>
                <app-add-notes></app-add-notes>
                </div> -->

                <button matStepperPrevious type="button" class="btn btn-light btn-small">Back</button>
                <button matStepperNext type="button" class="btn btn-light btn-small">Next</button>
            </mat-step>

            <mat-step>
                <ng-template matStepLabel><span class="stepperTop3">Done</span></ng-template>

                @if(addObservationForm.valid && selectSpeciesForm.valid && dateForm.valid) {
                <div class="alert alert-info">
                    The form is complete. Choose 'Save' to add your observation.
                    <p>
                        @if(requesting) {
                        <button type="submit" class="btn btn-primary btn-small" disabled>
                            Saving observation...
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        </button>
                        } @else {
                        <button type="submit" class="btn btn-primary btn-small"
                            [disabled]="!addObservationForm.valid || !addObservationForm.valid || !dateForm.valid">
                            Save
                        </button>
                        }
                        <button (click)="stepper.reset()" class="btn btn-warning btn-small" type="button">Reset</button>
                        <button matStepperPrevious type="button" class="btn btn-light btn-small">Back</button>
                    </p>
                </div>
                } @else {
                <p class="alert alert-danger">
                    The form is not complete. You must complete the manadatory fields in Section 1.
                    <button matStepperPrevious type="button" class="btn btn-light btn-small">Back</button>
                </p>
                }

            </mat-step>
        </mat-vertical-stepper>
    </form>
</div>