app-network-user {
    .flex-container {
        display: flex;
    }

    .network-list {
        margin: 15px;
        margin-bottom: 20px;
    }

    a.navbar-brand {
        margin-right: 0 !important;
    }
}
