
.section-title {
    margin: 5% 0%;
    text-align: center;
}

.text {
    text-align: justify;
}

.icon-credit {
    text-align: center;
    margin: 0 auto;
    font-size: 0.8em;
}

//medium screen size and below
@media only screen and (max-width: 992px) {
    .first {
        order: 1;
    }

    .second {
        order: 2;
    }

    .third {
        order: 3;
    }
}