<div class="standard-container">

    @if (_service.observation | async; as observation) {
    @if (_authService.getAuthUser | async; as authUser) {

    <h1>Observation Report</h1>

    <p data-testid="observation-title"><a routerLink="/user/{{observation.username}}">
            {{ observation.username === authUser.userName ? 'You' : observation.username }}
        </a> observed {{ observation.quantity }} <a routerLink="/bird/detail/{{observation.birdId}}">
            {{ observation.englishName }}
        </a> <small><em> {{ observation.species }} </em></small>
        on {{ observation.observationDateTime | date: 'EEEE, d MMMM yyyy \'at\' HH:mm' }}.
    </p>

    <mat-tab-group>
        <mat-tab label="Map">
            <ng-template matTabContent>
                <app-read-only-map [position]="observation.position"></app-read-only-map>
            </ng-template>
        </mat-tab>
        <mat-tab label="Notes">
            <ng-template matTabContent>
                <app-view-only-notes [notes]="observation.notes"></app-view-only-notes>
            </ng-template>
        </mat-tab>
        <mat-tab label="Photos">
            <ng-template matTabContent>
                <app-lorem-ipsum></app-lorem-ipsum>
            </ng-template>
        </mat-tab>
        <mat-tab label="Other sightings">
            <ng-template matTabContent>
                <app-lorem-ipsum></app-lorem-ipsum>
            </ng-template>
        </mat-tab>
    </mat-tab-group>


    <app-navigation-menu [observationId]="observation.observationId"
        [isRecordOwner]="observation.username===authUser.userName"></app-navigation-menu>

    }

    } @else if (_service.isError | async) {
    <p class="alert alert-danger" data-testid="error">
        <strong>Whoops!</strong> There was an error retrieving the data.<br>
        <button type="button" class="btn btn-primary btn-sm btn-try-again" data-testid="reload-button"
            (click)="reload()">Try
            Again</button>
    </p>
    } @else {
    <app-loading></app-loading>
    }
</div>