<div class="resend-email-container">
    <h2>Resend confirmation email</h2>

    <p>If you did not receive the email confirmation we sent you, please request another one using the form below.
        <br>It is advised to check your 'spam' or 'junk' folder first.
    </p>

    <div [hidden]="submitted">
        <form [formGroup]="resendConfirmEmailForm" novalidate (ngSubmit)="onSubmit(resendConfirmEmailForm.value)">

            <div class="form-group">
                <input class="form-control" type="email" placeholder="Email" formControlName="email" required>
                <div *ngFor="let validation of resend_confirm_email_validation_messages.email">
                    <small class="text-danger"
                        *ngIf="resendConfirmEmailForm.get('email')?.hasError(validation.type) && (resendConfirmEmailForm.get('email')?.dirty || resendConfirmEmailForm.get('email')?.touched)">
                        {{validation.message}}</small>
                </div>
            </div>

            <button *ngIf="!requesting" type="submit" class="btn btn-primary btn-sm"
                [disabled]="!resendConfirmEmailForm.valid">
                Submit
            </button>
            <button *ngIf="requesting" class="btn btn-primary btn-sm" type="submit" disabled>
                Generating email...
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            </button>
        </form>
    </div>

    <div [hidden]="!errorObject" class="alert alert-danger">
        An occurred. Please try again
    </div>

    <div [hidden]="!submitted" class="alert alert-success">
        <strong>Success!</strong> An email confirmation has been sent to your inbox.
    </div>

</div>