<div class="following-container">

    <ng-container *ngIf="(_authService.getAuthUser | async) as authUser">

        <h1 data-testid="title">{{ authUser.userName === username ? 'You follow' : username + ' follows' }}</h1>

        <ul ngbNav #nav="ngbNav" [activeId]="1" class="nav-tabs nav-justified" data-testid="nav-menu">
            <li [ngbNavItem]="1">
                <a ngbNavLink>Following</a>
            </li>
            <li [ngbNavItem]="2">
                <a ngbNavLink routerLink="/followers/{{username}}">Followers</a>
            </li>
        </ul>

    </ng-container>

    <ng-container *ngIf="(_service.getFollowing | async) as following; else loadingOrError">

        <div *ngIf="following.length" data-testid="following-list">
            <div *ngFor="let user of following">
                <app-network-user [user]="user"></app-network-user>
            </div>
        </div>

        <div *ngIf="!following.length" data-testid="following-list-is-zero">
            <ngb-alert [dismissible]="false" class="d-block mt-3" type="info">
                You don't yet follow any <i>Birders</i>
            </ngb-alert>
        </div>

    </ng-container>

    <ng-template #loadingOrError>
        <div *ngIf="(_service.isError | async); else loading" class="alert alert-danger" data-testid="error">
            <strong>Whoops!</strong> There was an error retrieving the data.<br>
            <button type="button" class="btn btn-primary btn-sm btn-try-again" data-testid="reload-button"
                (click)="reload()">Try
                Again</button>
        </div>
    </ng-template>


    <ng-template #loading>
        <app-loading></app-loading>
    </ng-template>

</div>