<div class="standard-container">

    @if (_service.getFollowing | async; as following) {

    <p>following: {{ following.length }}</p>

    @for (follower of following; track $index) {
    <app-network-user [user]="follower" data-testid="following-list"></app-network-user>
    } @empty {
    <p data-testid="following-list-is-zero" class="alert alert-info">
        You don't yet follow any <i>Birders</i>
    </p>
    }
    } @else if (_service.isError | async) {
    <p class="alert alert-danger" data-testid="error">
        <strong>Whoops!</strong> There was an error retrieving the data.<br>
        <button type="button" class="btn btn-primary btn-sm btn-try-again" data-testid="reload-button"
            (click)="reload()">Try Again</button>
    </p>
    } @else {
    <app-loading></app-loading>
    }
</div>