<div class="container" *ngIf="_service.recordings | async as recordings; else loadingOrError">

    <h2>Bird song recordings</h2>

    <div *ngIf="recordings.length; else noRecordings">

        <div *ngFor="let item of recordings | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize; index as i" data-testid="recordings">
            <div>
                <audio controls>
                    <source src="{{item.url}}" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
            </div>
        </div>

        <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="recordings.length"
            class="d-flex justify-content-center" size="sm" [maxSize]="9" [rotate]="true" [boundaryLinks]="true">
        </ngb-pagination>

        <div class="small-italic">
            Total recordings: {{ recordings.length }}
        </div>

        <div><small>The recordings are from <em><a href='https://www.xeno-canto.org/'
                        target='_blank'>xeno-canto.org</a></em></small></div>

    </div>

    <ng-template #noRecordings>
        <p data-testid="no-recordings">
            <ngb-alert type="info" [dismissible]="false">
                <strong>We're sorry!</strong> There are no recordings available for this species
            </ngb-alert>
        </p>
    </ng-template>

</div>


<ng-template #loadingOrError>
    <div *ngIf="(_service.isError | async); else loading" class="alert alert-danger" data-testid="error">
        <strong>Whoops!</strong> An error occurred. Please try again.
    </div>
</ng-template>

<ng-template #loading>
    <app-loading></app-loading>
</ng-template>