<ng-container *ngIf="(_service.getTweet | async) as tweet; else loadingOrError">

    <h1>Tweet of the Day</h1>
    <h2 class="english-name">
        <a routerLink="/bird/detail/{{tweet.bird.birdId}}">{{tweet.bird.englishName}}</a>
    </h2>
    <p class="scientific-name">{{tweet.bird.species}}</p>

    <audio controls>
        <source src="{{tweet.songUrl}}" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>

    <a class="archive-link" routerLink="/tweets-archive">View previous days' tweets</a>


</ng-container>

<ng-template #loadingOrError>
    <ng-container *ngIf="(_service.isError | async); else loading">
        <p>
            <strong>Whoops!</strong>&nbsp;An error occurred<br>
            <button type="button" class="btn btn-primary btn-sm" data-testid="reload-button" (click)="reload()">Try
                Again</button>
        </p>
    </ng-container>
</ng-template>


<ng-template #loading>
    <app-loading></app-loading>
</ng-template>