app-tweet-day {
    text-align: center;
    margin: 2%;

    .english-name {
        line-height: 0px;
    }

    .scientific-name {
        font-style: italic;
    }

    audio {
        margin: 0 auto;
        display: block;
    }

    .archive-link {
        margin: 3% 0% auto;
        display: block;
    }

    .btn {
        margin: 2%;
    }
}
