<form [formGroup]="form()" novalidate>
  <mat-form-field>
    <mat-label>Observation date</mat-label>
    <input
      matInput
      [matDatepicker]="datepicker"
      formControlName="date"
      [max]="maxDate"
      readonly
    />
    <mat-datepicker #datepicker />
    <mat-datepicker-toggle [for]="datepicker" matSuffix />
    <mat-hint>Choose date</mat-hint>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Observation time</mat-label>
    <input
      matInput
      [matTimepicker]="timepicker"
      formControlName="time"
      readonly
    />
    <mat-timepicker #timepicker interval="30m" />
    <mat-timepicker-toggle [for]="timepicker" matSuffix />
    <mat-hint>Choose time</mat-hint>
  </mat-form-field>
</form>

<!-- <pre>{{ form().value | json }}</pre> -->
