<form [formGroup]="dateForm" novalidate>

    <label for="observationDateTime">Observation Date and Time</label>
    <div class="date-time-controls">
        <!-- <label for="observationDateTime">Date:</label> -->
        <div class="p-2">
            <div class="input-group">
                <input class="form-control" placeholder="dd-mm-yyyy" readonly="readonly" name="dp" [(ngModel)]="date"
                    [ngModelOptions]="{standalone: true}" ngbDatepicker #d="ngbDatepicker" [minDate]="minDate"
                    [maxDate]="maxDate" (dateSelect)="updateFormValue()" required aria-required="true" data-testid="date" />
                <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d.toggle()" type="button"></button>
            </div>
            <div *ngIf="!dateForm.valid && time">
                <small class="text-danger" data-testid="form-invalid-date-error-message">Pick a date using the control.</small>
            </div>
        </div>

        <!-- <label for="time">Time:</label> -->
        <div class="p-2">
            <div class="input-group">
                <ngb-timepicker class="hello" [(ngModel)]="time" [ngModelOptions]="{standalone: true}" [spinners]="spinners"
                    (ngModelChange)="updateFormValue()" required readonly aria-required="true" data-testid="time"></ngb-timepicker>
            </div>
            <div *ngIf="!dateForm.valid && !time">
                <small class="text-danger" data-testid="form-invalid-time-error-message">Pick a time using the control.</small>
            </div>
        </div>
    </div>
</form>

<!-- <div class="p-2">
    <p>{{ date | json }}</p>
    <p>{{ time | json }}</p>
    <p>form value: {{ dateForm.value | json }}</p>
    <p>form errors: {{ dateForm.errors | json }}</p>
    <p>{{ dateForm.valid | json}}</p>
</div> -->

<!-- <div class="form-group adjust-size">
                        <label for="observationDateTime">Date & time</label>
                        <div class="date-time-control">
                            <input class="form-control" type="datetime" id="observationDateTime" readonly="readonly"
                                required [ngxMatDatetimePicker]="picker" placeholder="Choose a date"
                                formControlName="observationDateTime" [min]="minDate" [max]="maxDate">
                            <mat-datepicker-toggle matSuffix [for]="$any(picker)"></mat-datepicker-toggle>
                            <ngx-mat-datetime-picker #picker [showSpinners]="true" [showSeconds]="false" [stepHour]="1"
                                [stepMinute]="1" [stepSecond]="1" [touchUi]="false">
                            </ngx-mat-datetime-picker>
                        </div>
                        <div
                            *ngIf="addObservationForm.get('observationDateTime')?.invalid && 
                    addObservationForm.get('observationDateTime')?.errors && 
                    (addObservationForm.get('observationDateTime')?.dirty || addObservationForm.get('observationDateTime')?.touched)">
                            <small class="text-danger"
                                *ngIf="addObservationForm.get('observationDateTime')?.hasError('required')">
                                This field is required.
                            </small>
                        </div>
                    </div> -->


<!-- <div class="form-group adjust-size">
                                <label for="observationDateTime">Date & time</label>
                                <div class="date-time-control">
                                    <input class="form-control" type="datetime" id="observationDateTime"
                                        readonly="readonly" required [ngxMatDatetimePicker]="picker"
                                        placeholder="Choose a date" formControlName="observationDateTime"
                                        [min]="minDate" [max]="maxDate">
                                    <mat-datepicker-toggle matSuffix [for]="$any(picker)"></mat-datepicker-toggle>
                                    <ngx-mat-datetime-picker #picker [showSpinners]="true" [showSeconds]="false"
                                        [stepHour]="1" [stepMinute]="1" [stepSecond]="1" [touchUi]="false">
                                    </ngx-mat-datetime-picker>
                                </div>
                                <div
                                    *ngIf="updateObservationForm.get('observationDateTime')?.invalid && 
                    updateObservationForm.get('observationDateTime')?.errors && 
                    (updateObservationForm.get('observationDateTime')?.dirty || updateObservationForm.get('observationDateTime')?.touched)">
                                    <small class="text-danger"
                                        *ngIf="updateObservationForm.get('observationDateTime')?.hasError('required')">
                                        This field is required.
                                    </small>
                                </div>
                            </div> -->