@if (_service.getBird | async; as bird) {

<div class="standard-container">

    <h1 data-testid="main-title">{{ bird.englishName }}<small><i> {{ bird.species }}</i></small></h1>

    <hr>

    <mat-tab-group>
        <mat-tab label="Information">
            <ng-template matTabContent>
                <app-bird-info [bird]="bird"></app-bird-info>
            </ng-template>
        </mat-tab>
        <mat-tab label="Flickr photos">
            <ng-template matTabContent>
                <app-flickr [species]="bird.species"></app-flickr>
            </ng-template>
        </mat-tab>
        <mat-tab label="Song recordings">
            <ng-template matTabContent>
                <app-recordings [species]="bird.species"></app-recordings>
            </ng-template>
        </mat-tab>
        <mat-tab label="Observations">
            <ng-template matTabContent>
                <app-lorem-ipsum></app-lorem-ipsum>
            </ng-template>
        </mat-tab>
        <mat-tab label="Distribution map">
            <ng-template matTabContent>
                <app-lorem-ipsum></app-lorem-ipsum>
            </ng-template>
        </mat-tab>
    </mat-tab-group>

    <div class="navigation-menu">
        <hr>
        <a routerLink="/bird/index">
            Birds List
        </a>
    </div>

</div>
} @else if (_service.isError | async) {
<div class="alert alert-danger" data-testid="error">
    <strong>Whoops!</strong> There was an error retrieving the data.<br>
    <button type="button" class="btn btn-primary btn-sm btn-try-again" data-testid="reload-button"
        (click)="reload()">Try Again</button>
</div>
} @else {
<app-loading></app-loading>
}