app-observation-count {
    text-align: center;

    margin: 2%;

    .analysis-text {
        font-size: 1.2em;
    }

    .count-text {
        font-size: 1.5em;
    }

    .btn {
        margin: 2%;
    }
}
