app-select-species {
    .is-loading {
        display: flex;
        align-items: center;
    }

    .ng-valid[required],
    .ng-valid.required {
        border-left: 5px solid #42a948; /* green */
    }

    .ng-invalid:not(form) {
        border-left: 5px solid #a94442; /* red */
    }

    .dropdown-menu {
        max-height: 200px;
        overflow-y: scroll;
    }

    @media only screen and (max-width: 768px) {
    }

    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 768px) {
        .adjust-size {
            width: 50%;
        }
    }

    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 992px) {
        .adjust-size {
            width: 50%;
        }
    }

    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and (min-width: 1200px) {
    }
}
