app-account-manage-profile {

    .is-loading {
        display: flex;
        align-items: center;
    }

    .ng-valid[required],
    .ng-valid.required {
        border-left: 5px solid #42a948; /* green */
    }

    .ng-invalid:not(form) {
        border-left: 5px solid #a94442; /* red */
    }

    .form-group {
        margin-bottom: 1%;
    }

    .submit-btn {
        margin-top: 30px;
    }

    .email-alert {
        margin-top: 1%;
    } 
}