<div class="suggestion-container">

    @if (_service.getNetworkSuggestions | async; as suggestions) {

    <h2 class="heading">Suggested Users</h2>

    @for (user of suggestions; track $index) {
    <div data-testid="suggestions-list">
        <app-network-user [user]="user"></app-network-user>
    </div>
    } @empty {
    <p data-testid="suggestions-list-is-zero" class="alert alert-info">
        No suggestions at this time...
    </p>
    }
    } @else if (_service.isError | async) {

    <p class="alert alert-danger" data-testid="error">
        <strong>Whoops!</strong> There was an error retrieving the data.<br>
        <button type="button" class="btn btn-primary btn-sm btn-try-again" data-testid="reload-button"
            (click)="reload()">Try
            Again</button>
    </p>
    } @else {

    <app-loading></app-loading>
    }

</div>