<div class="suggestion-container">

    <ng-container *ngIf="(_service.getNetworkSuggestions | async) as suggestions; else loadingOrError">

        <h2 class="heading">Suggested Users</h2>

        <div *ngIf="suggestions.length">
            <div *ngFor="let user of suggestions">
                <app-network-user [user]="user"></app-network-user>
            </div>
        </div>

        <div *ngIf="!suggestions.length">
            <ngb-alert [dismissible]="false" class="d-block mt-3" type="info">
                There is no suggestions at this time...
            </ngb-alert>
        </div>

    </ng-container>

    <ng-template #loadingOrError>
        <ng-container *ngIf="(_service.isError | async); else loading">
            <p>
                <strong>Whoops!</strong>&nbsp;An error occurred<br>
                <button type="button" class="btn btn-primary btn-sm" data-testid="reload-button" (click)="reload()">Try
                    Again</button>
            </p>
        </ng-container>
    </ng-template>


    <ng-template #loading>
        <app-loading></app-loading>
    </ng-template>

</div>