<div class="suggestion-container">

    <ng-container *ngIf="(_service.getNetworkSuggestions | async) as suggestions; else loadingOrError">

        <h2 class="heading">Suggested Users</h2>

        <div *ngIf="suggestions.length" data-testid="suggestions-list">
            <div *ngFor="let user of suggestions">
                <app-network-user [user]="user"></app-network-user>
            </div>
        </div>

        <div *ngIf="!suggestions.length" data-testid="suggestions-list-is-zero">
            <ngb-alert [dismissible]="false" class="d-block mt-3" type="info">
                No suggestions at this time...
            </ngb-alert>
        </div>

    </ng-container>

    <ng-template #loadingOrError>
        <div *ngIf="(_service.isError | async); else loading" class="alert alert-danger" data-testid="error">
            <strong>Whoops!</strong> There was an error retrieving the data.<br>
            <button type="button" class="btn btn-primary btn-sm btn-try-again" data-testid="reload-button"
                (click)="reload()">Try
                Again</button>
        </div>
    </ng-template>


    <ng-template #loading>
        <app-loading></app-loading>
    </ng-template>

</div>