/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


.logo-section {
    text-align: center;
    margin: 1% 3%;
}

.centre {
    text-align: center;
    margin: auto;
}

.italics {
    font-style: italic;
}

.btn {
    margin: 2%;
}

.alert {
    padding: 3%;
    color: black;
}

.strong-title {
    padding-right: 1%;
}

.alert-danger {
    background-color: #f44336;
}

.alert-success {
    background-color: #77ff33;
}

.alert-info {
    background-color: #0bc9cd; // 'Robin egg blue'
}

.form-field {
    margin-bottom: 20px;
}

// forms
.full-width {
    width: 100%;
}

// SIDE BAR

.side-bar-container {
    padding: 5% 1%;
    margin: 2%;
}

@media only screen and (max-width: 992px) {
    .wrapper {
        // border: black;
        // border-style: solid;
        margin: 3% 5%; //(top, bottom) / (right, left)
    }

    .standard-container {
        margin: 3% 3%; //(top, bottom) / (right, left)
    }

    .standard-container-full-width { //i.e. no sidebar
        margin: 3% 3%; //(top, bottom) / (right, left)
    }

    .form-field {
        width: 100%;
    }
}

@media only screen and (min-width: 992px) {
    .wrapper {
        // border: black;
        // border-style: solid;
        margin: 3% 15%; //(top, bottom) / (right, left)
    }

    .standard-container {
        margin: 3% 1%; //(top, bottom) / (right, left)
    }

    .standard-container-full-width { //i.e. no sidebar
        margin: 3% 15%; //(top, bottom) / (right, left)
    }

    .form-field {
        width: 50%;
    }
}