<ng-container *ngIf="(_service.getTop | async)  as analysis; else loadingOrError">

    <h1>Your Top Species</h1>

    <div class="container">

        <ul ngbNav #nav="ngbNav" [(activeId)]="active" [destroyOnHide]="false" class="nav nav-pills nav-fill">

            <li [ngbNavItem]="1" [destroyOnHide]="false">
                <a ngbNavLink>30 days</a>
                <ng-template ngbNavContent>
                    <ng-container *ngIf="analysis.topMonthlyObservations.length; else noItems">

                        <table class="table table-striped" data-testid="top-five-content">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Species</th>
                                    <th scope="col">Count</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let record of analysis.topMonthlyObservations; index as i">
                                    <th scope="row">{{ i + 1 }}</th>
                                    <td><a routerLink="/bird/detail/{{record.birdId}}">{{ record.name }}</a></td>
                                    <td>{{ record.count | number }}</td>
                                </tr>
                            </tbody>
                        </table>

                    </ng-container>

                    <ng-template #noItems>
                        <p data-testid="top-five-content-zero" class="alert alert-info" >

                                You have not yet logged any observations this month...<br>
                                <a routerLink="/observation/create">Click here</a> to add one
                        </p>
                    </ng-template>

                </ng-template>
            </li>

            <li [ngbNavItem]="2" [destroyOnHide]="false">
                <a ngbNavLink>All time</a>
                <ng-template ngbNavContent>
                    <ng-container *ngIf="analysis.topObservations.length; else noItems">

                        <table class="table table-striped" data-testid="top-five-content">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Species</th>
                                    <th scope="col">Count</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let record of analysis.topObservations; index as i">
                                    <th scope="row">{{ i + 1 }}</th>
                                    <td><a routerLink="/bird/detail/{{record.birdId}}">{{ record.name }}</a></td>
                                    <td>{{ record.count | number }}</td>
                                </tr>
                            </tbody>
                        </table>

                    </ng-container>

                    <ng-template #noItems>
                        <p data-testid="top-five-content-zero" class="alert alert-info">
                                You have not yet logged any observations... <br>
                                <a routerLink="/observation/create">Click here</a> to add your first one
                        </p>
                    </ng-template>

                </ng-template>
            </li>

        </ul>

        <div [ngbNavOutlet]="nav" class="mt-2"></div>



        <ng-container *ngIf="(_authService.getAuthUser | async) as authUser">
            <small><em> See the full list in your
                    <a routerLink="/lists/life/{{authUser.userName}}">Life List</a> page</em></small>
        </ng-container>

    </div>

</ng-container>

<ng-template #loadingOrError>
    <div *ngIf="(_service.isError | async); else loading" class="alert alert-danger" data-testid="error">
        <strong>Whoops!</strong> There was an error retrieving the data.<br>
        <button type="button" class="btn btn-primary btn-sm btn-try-again" data-testid="reload-button"
            (click)="reload()">Try
            Again</button>
    </div>
</ng-template>


<ng-template #loading>
    <app-loading></app-loading>
</ng-template>