app-observation-delete {
    .btn {
        margin: 2%;
    }

    .created-updated-dates {
        text-align: center;
    }

    @media only screen and (max-width: 768px) {
        .observation-delete-container {
            margin: 3% 3%; //(top, bottom) / (right, left)
        }
    }

    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 768px) {
        .observation-delete-container {
            margin: 3% 3%; //(top, bottom) / (right, left)
        }
        .adjust-size {
            width: 50%;
        }
    }

    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 992px) {
        .observation-delete-container {
            margin: 3% 1%; //(top, bottom) / (right, left)
        }

        .adjust-size {
            width: 50%;
        }
    }

    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and (min-width: 1200px) {
    }
}
