<div class="standard-container">

    @if (_service.observation | async; as observation) {
    @if (_authService.getAuthUser | async; as authUser) {

    <h1>Delete Observation Report</h1>

    @if (observation.username === authUser.userName) {

    <p>You observed <b>{{observation.quantity}}</b> <a routerLink="/bird/detail/{{observation.birdId}}">
            {{observation.englishName}}
        </a> <small><em> {{ observation.species }} </em></small>
        on {{ observation.observationDateTime | date: 'EEEE, d MMMM yyyy' }}.
    </p>

    <ng-container>
        <div class="alert alert-info">
            Are you sure you want to delete your observation?
            <p>
                @if (requesting) {
                <button type="submit" class="btn btn-danger btn-small" disabled>
                    Deleting observation...
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                </button>
                } @else {
                <button type="submit" class="btn btn-danger btn-small"
                    (click)="deleteObservation(observation.observationId)">
                    Delete
                </button>
                }
                <button class="btn btn-link" (click)="redirect()">
                    Go back
                </button>
            </p>
        </div>
    </ng-container>

    <small><em>Observation created at {{ observation.creationDate | date: 'dd/MM/yyyy HH:mm' }}; last
            updated at
            {{ observation.lastUpdateDate | date: 'dd/MM/yyyy HH:mm' }}</em></small>

    <app-navigation-menu [observationId]="observation.observationId" [isRecordOwner]="true">
    </app-navigation-menu>

    } @else {
    <p class="alert alert-info">
        <strong>Whoops!</strong>&nbsp;Only the owner is allowed to delete their record.<br>
        <button type="button" class="btn btn-primary btn-sm" data-testid="reload-button" (click)="redirect()">Go
            back</button>
    </p>
    }
    }

    } @else if (_service.isError | async) {

    <p class="alert alert-danger" data-testid="error">
        <strong>Whoops!</strong> There was an error retrieving the data.<br>
        <button type="button" class="btn btn-primary btn-sm btn-try-again" data-testid="reload-button"
            (click)="reload()">Try
            Again</button>
    </p>
    } @else {
    <app-loading></app-loading>
    }
</div>