<div class="standard-container">

    @if (_service.getFollowers | async; as followers) {

    <p>followers: {{followers.length}}</p>

    @for (follower of followers; track $index) {
    <app-network-user [user]="follower" data-testid="followers-list"></app-network-user>
    } @empty {
    <p data-testid="followers-list-is-zero" class="alert alert-info">
        You don't yet have any followers
    </p>
    }
    } @else if (_service.isError | async) {
    <p class="alert alert-danger" data-testid="error">
        <strong>Whoops!</strong> There was an error retrieving the data.<br>
        <button type="button" class="btn btn-primary btn-sm btn-try-again" data-testid="reload-button"
            (click)="reload()">Try Again</button>
    </p>
    } @else {
    <app-loading></app-loading>
    }
</div>