app-observation-update {
    .form-group {
        margin: 2% 0%;
    }

    .date-time-control {
        display: flex;
        //width: 250px; // 50%;
    }

    .ng-valid[required],
    .ng-valid.required {
        border-left: 5px solid #42a948; /* green */
        content: " *";
    }

    .ng-invalid:not(form) {
        border-left: 5px solid #a94442; /* red */
    }
}
