<div class="observation-update-container">

    <ng-container *ngIf="updateObservationForm; else loadingOrError">

        <h1>Update Observation Report</h1>

        <ng-container *ngIf="(_authService.getAuthUser | async) as authUser">
            <ngb-alert [dismissible]="false" type="danger" *ngIf="observation.username !== authUser.userName">
                <strong>Whoops!</strong>&nbsp;Only the owner is allowed to delete their record.<br>
                <button type="button" class="btn btn-primary btn-sm" data-testid="reload-button" (click)="redirect()">Go
                    back</button>
            </ngb-alert>

            <ng-container *ngIf="observation.username === authUser.userName">

                <form [formGroup]="updateObservationForm" novalidate (ngSubmit)="onSubmit()">
                    <mat-vertical-stepper [linear]="false" #stepper (selectionChange)="onStepperSelectionChange()">

                        <mat-step [stepControl]="updateObservationForm && selectSpeciesForm"
                            errorMessage="Section not complete.">
                            <ng-template matStepLabel><span class="stepperTop0">Details: what and when?</span>
                            </ng-template>

                            <app-select-date-time [dateForm]="dateForm"></app-select-date-time>

                            <div class="form-group adjust-size">
                                <label for="quantity">How many</label>
                                <input class="form-control" type="number" id="quantity" placeholder="Quantity"
                                    formControlName="quantity" required min="1" max="1000">
                                <div
                                    *ngIf="updateObservationForm.get('quantity')?.invalid && 
                        updateObservationForm.get('quantity')?.errors && 
                        (updateObservationForm.get('quantity')?.dirty || updateObservationForm.get('quantity')?.touched)">
                                    <small class="text-danger"
                                        *ngIf="updateObservationForm.get('quantity')?.hasError('required')">
                                        This field is required.
                                    </small>
                                    <small class="text-danger"
                                        *ngIf="updateObservationForm.get('quantity')?.hasError('min')">
                                        The minimum value is {{ updateObservationForm.get('quantity')?.errors?.min?.min
                                        }}
                                        individual.
                                    </small>
                                    <small class="text-danger"
                                        *ngIf="updateObservationForm.get('quantity')?.hasError('max')">
                                        The maximum value is {{ updateObservationForm.get('quantity')?.errors?.max?.max
                                        }}
                                        individuals.
                                    </small>
                                </div>
                            </div>

                            <app-select-species #species [selectSpeciesForm]="selectSpeciesForm"></app-select-species>

                            <button matStepperNext type="button" class="btn btn-light btn-small">Next</button>
                        </mat-step>

                        <mat-step>
                            <ng-template matStepLabel><span class="stepperTop1">Location</span></ng-template>

                            <div>
                                <app-read-write-map [latitude]="observation.position.latitude"
                                    [longitude]="observation.position.longitude">
                                </app-read-write-map>
                            </div>

                            <button matStepperPrevious type="button" class="btn btn-light btn-small">Back</button>
                            <button matStepperNext type="button" class="btn btn-light btn-small">Next</button>
                        </mat-step>

                        <mat-step [optional]="true">
                            <ng-template matStepLabel><span class="stepperTop2">Notes</span></ng-template>

                            <div class="alert alert-info">
                                <strong>Whoops!</strong> The Notes functionality is currently not available.  This capability is being redesigned.<br>
                            </div>

                            <!-- <app-edit-notes [notes]="observation.notes"></app-edit-notes> -->

                            <button matStepperPrevious type="button" class="btn btn-light btn-small">Back</button>
                            <button matStepperNext type="button" class="btn btn-light btn-small">Next</button>
                        </mat-step>


                        <mat-step>
                            <ng-template matStepLabel><span class="stepperTop3">Done</span></ng-template>

                            <ng-container *ngIf="!updateObservationForm.valid || !selectSpeciesForm.valid">
                                <p class="alert alert-danger">
                                    The form is not complete. You must complete the manadatory fields in Section 1.

                                    <button matStepperPrevious type="button"
                                        class="btn btn-light btn-small">Back</button>
                                </p>
                            </ng-container>

                            <ng-container *ngIf="updateObservationForm.valid && selectSpeciesForm.valid">
                                <div class="alert alert-info">
                                    The form is complete. Choose 'Update' to save the changes.
                                    <p>
                                        <button *ngIf="!requesting" type="submit" class="btn btn-primary btn-small"
                                            [disabled]="!updateObservationForm.valid || !selectSpeciesForm.valid">
                                            Update
                                        </button>
                                        <button *ngIf="requesting" type="submit" class="btn btn-primary btn-small"
                                            disabled>
                                            Updating observation...
                                            <span class="spinner-border spinner-border-sm" role="status"
                                                aria-hidden="true"></span>
                                        </button>
                                        <button matStepperPrevious type="button"
                                            class="btn btn-light btn-small">Back</button>
                                    </p>
                                </div>
                            </ng-container>

                        </mat-step>

                    </mat-vertical-stepper>

                </form>

            </ng-container>

        </ng-container>

    </ng-container>


    <ng-template #loadingOrError>
        <ng-container *ngIf="errorObject; else loading">
            <p class="centre">
                <strong>Whoops!</strong>&nbsp;An error occurred<br>
                <button type="button" class="btn btn-primary btn-sm" data-testid="reload-button" (click)="reload()">Try
                    Again</button>
            </p>
        </ng-container>
    </ng-template>

    <ng-template #loading>
        <app-loading></app-loading>
    </ng-template>

</div>