<div class="full-page-form-container">

    <h1>Login</h1>

    @if (submitProgress !== 'success') {
    <form [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit(loginForm.value)" data-testid="form">

        <mat-form-field class="full-width" id="username">
            <mat-label>Email</mat-label>
            <input matInput id="username" name="username" type="email" formControlName="username">
            @if (loginForm.get('username')?.hasError('required')) {
            <mat-error class="validation-required-username">
                Email is <strong>required</strong>
            </mat-error>
            }
            @if (loginForm.get('username')?.hasError('email')) {
            <mat-error class="validation-email-username">
                Email is <strong>not valid</strong>
            </mat-error>
            }
        </mat-form-field>

        <mat-form-field class="full-width" id="password">
            <mat-label>Password</mat-label>
            <input matInput id="password" name="password" type="password" formControlName="password">
            @if (loginForm.get('password')?.hasError('required')) {
            <mat-error class="validation-required-password">
                Password is <strong>required</strong>
            </mat-error>
            }
        </mat-form-field>

        <div>
            <mat-checkbox id="rememberMe" formControlName="rememberMe" color="primary">Keep me logged in</mat-checkbox>
        </div>

        <section class="buttons">
            @if (!requesting) {
            <button mat-stroked-button class="form-submit-btn" color="primary" type="submit"
                [disabled]="!loginForm.valid">Login</button>
            }
            @if (requesting) {
            <button mat-stroked-button class="form-submit-btn" type="button" disabled>
                Checking your credentials...
                <mat-icon><mat-spinner diameter="15">
                    </mat-spinner></mat-icon>
            </button>
            }

            <a mat-stroked class="form-submit-btn link" [routerLink]='["/forgot-password"]'>Forgot password?</a>
        </section>

    </form>
    }

    @if (submitProgress === 'success') {
    <div class="alert alert-success" data-testid="success">
        <strong>Success!</strong> You have successfully signed in
    </div>
    }

    @if (submitProgress === 'error') {
    <div class="alert alert-danger" data-testid="error">
        <strong>Sign in failed</strong> There was an error logging in. Make sure you have typed the correct email and
        password.
        <br>If you have forgotten your password, you can <a [routerLink]='["/forgot-password"]'>reset it</a>.
    </div>
    }
</div>